.mb-search
  display: none

#return-to-top
    position: fixed
    bottom: 30px
    right: 30px
    background: #616161
    width: 50px
    height: 50px
    display: block
    text-decoration: none
    -webkit-border-radius: 35pxX
    -moz-border-radius: 35px
    border-radius: 35px
    display: none
    -webkit-transition: all 0.3s linear
    -moz-transition: all 0.3s ease
    -ms-transition: all 0.3s ease
    -o-transition: all 0.3s ease
    transition: all 0.3s ease
    z-index: 99999

#return-to-top i
    color: #fff
    margin: 0
    position: relative
    left: 16px
    top: 13px
    font-size: 19px
    -webkit-transition: all 0.3s ease
    -moz-transition: all 0.3s ease
    -ms-transition: all 0.3s ease
    -o-transition: all 0.3s ease
    transition: all 0.3s ease

#return-to-top:hover
    background: #808080

#return-to-top:hover i
    color: #fff
    top: 5px


#footer
  color: white
  margin: 3em 0
  font-size: 100%
  display: block
  *zoom: 1
  line-height: 1.6
  &:after
    display: block
    visibility: hidden
    font-size: 0
    height: 0
    clear: both
    content: "."
  .footer-blog-title
    float: left
    display: inline-block
    text-transform: uppercase
    font-size: 120%
    padding-bottom: .2em
    letter-spacing: .2em
    margin: 1em 1.5em 0 0
    border-bottom: 3px solid color-footer
    a
      position: relative
      left: .1em
      padding: .4em 0
      color: color-footer
    &:hover
      border-color: color-link
      a
        color: color-link
  .copyright
    display: block
